<a href="https://colab.research.google.com/github/tokoroi/typescript-book/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print文 シングルクォーテーションとダブルクォーテーションは区別されない

In [ ]:
print('This line will be printed.')

This line will be printed.

 {}の代わりにインデントを使用する

In [ ]:
x = 1
if x == 1:
    #　indented four spaces
    print('x is 1.')

x is 1.

In [ ]:
print('Hello World!')

Hello World!

**変数と型**

Pythonはオブジェクト指向
変数を使用する前の宣言や型の宣言は必要ない

整数の定義

In [ ]:
myint = 7
print(myint)

7

浮動小数点の定義は下記のどちらか

In [ ]:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

7.0
7.0

文字列型の定義

In [ ]:
mystring = 'hello'
print(mystring)

hello

文字列の中でシングルクォートを使用する際はダブルクォートで囲む

In [ ]:
mystring = "Don't worry about apostrophes"
print(mystring)

Don't worry about apostrophes

演算子

In [ ]:
one = 1
two = 2
three = one + two
print(three)

hello = 'hello'
world = 'world'
helloworld = hello + ' ' + world
print(helloworld)

3
hello world

代入は同時にできる

In [ ]:
a, b = 3, 4
print(a, b)

3 4

数値と文字列を演算子でつなぐとPythonではエラーになる

In [ ]:
#This will not work!
one = 1
two = 2
hello = 'hello'
print(one + two + hello)

TypeError: ignored

In [ ]:
mystring = 'hello'
myfloat = 10.0
myint = 20

if mystring == 'hello':
  print('String: %s' % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print('flot: %f' % myfloat)
if isinstance(myint, int) and myint == 20:
    print('Integer: %d' % myint)

String: hello
flot: 10.000000
Integer: 20

# リスト

任意の型の変数を含めることができる

In [ ]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) #prints 1
print(mylist[1]) #prints 2
print(mylist[2]) #prints 3

# 変数 x にmylistの中身を入れてfor文で回してるっぽい
for x in mylist:
    print(x)

1
2
3
1
2
3

リストの範囲外にアクセスするとエラーになる

In [ ]:
mylist = [1,2,3]
print(mylist[10])

In [ ]:
numbers = []
strings = []
names = ['John', 'Eric', 'Jessica']

numbers.append(1)
numbers.append(2)
numbers.append(3)

strings.append('hello')
strings.append('world')

second_name = names[1] 

print(numbers)
print(strings)
print('The second name on the names list is %s' % second_name)

[1, 2, 3]
['hello', 'world']
The second name on the names list is Eric

# 基本演算子

In [ ]:
number = 1 + 2 * 3 / 4.0
print(number)

2.5

In [ ]:
remainder = 11 % 3
print(remainder)

2

文字列も結合可能

In [ ]:
HW = 'hwllo' + ' ' + "world"
print(HW)

hwllo world

リストも結合可能

In [ ]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

リストを掛けた回数分繰り返す

In [ ]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
x = object()
y = object()

x_list = [x] * 10
y_list = [y] * 10
big_list = x_list + y_list

print('x_list contains %d objects' % len(x_list))
print('y_list contains %d objects' % len(y_list))
print('big_list contains %d objects' % len(big_list))

if x_list.count(x) == 10 and y_list.count(y) == 10:
    print('Almost there...')
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print('Great!')

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there...
Great!

# 文字列の書式設定

In [ ]:
#This prints out 'Hello, John!'
name = 'John'
print('Hello, %s!' %name)

Hello, John!

二つ以上の場合

In [ ]:
#This prints out 'John is 23 years olt.'
name = 'John'
age = 23
print('%s is %d years old.' % (name, age))

John is 23 years old.

文字列以外の変数も%s演算子を使用すると文字列になる

In [ ]:
#This prints out: A list: [1,2,3]
mylist = [1,2,3]
print('A list: %s' % mylist)

A list: [1, 2, 3]

%s -String (or any object with a string representation, like numers)

%d -Integers

%f -Froating point numbers

%.<number of digits>f - Floating point numers with a fixed amount of digits to the right of the dot.

%x - Integers in hex representation (lowercase/uppercase)

In [ ]:
data = ('John', 'Doe', 53.44)
format_string = 'hello %s %s. Your current balance is $%s.'

print(format_string % data)

hello John Doe. Your current balance is $53.44.

# 基本的な文字列操作

Hello World! は12文字のため、12が出力される

In [ ]:
astring = 'Hello World!'
print("single quotes are ' '")

print(len(astring))

single quotes are ' '
12

「o」の最初の出現位置を出力する
oは二回使用されているが、最初に使用されたもののみ認識する

In [ ]:
astring = 'Hello World!'
print(astring.index("o"))

4

二つの数値を指定すると指定した範囲の間の文字列を抜き出して出力する

In [ ]:
astring = 'Hello World!'
print(astring[3:7])

lo W

1文字をスキップして3から7までの文字列の文字を出力する

In [ ]:
astring = "Hello world!"
print(astring[3:7:2])

l

-3のように負の値を指定すると「最後から数えて３番目」という形で指定できる

文字列の順序を逆にする

In [ ]:
astring = "Hello world!"
print(astring[::-1])

!dlrow olleH

大文字に変換、小文字に変換

In [ ]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

文字列が何で始まり何で終了するかを判断する
最初の文字列はHelloで始まるためTrueを出力する

二番目の文字列はasdfasdfasdfで終了していないため、Falseを出力する

In [ ]:
astring = 'Hello world!'
print(astring.startswith('Hello'))
print(astring.endswith('asdfasdfasdf'))

True
False

文字列の分割
スペースで分割するよう指定しているため、リストの最初の項目がHello、2番目の項目がworld!になる

In [ ]:
astring = 'Hello world!'
afewwords = astring.split(' ')

In [ ]:
s = 'Strings are awesome!'
#Length should be 20
print('Length of s = %d' % len(s))

#First occurrence of 'a' should be at index 8
print('The first occurrence of the letter a = %d' % s.index('a'))

#Number of a should be 2
print('a occurs %d times' % s.count('a'))

#Slicing the string into bits
print("The first five characters are '%s'" % s[:5]) # Start to 5
print("The next fice characters are  '%s'" % s[5:10]) # 5 to 10
print("The thirteenth character is '%s'" %s[12]) #Just number 12
print("The chatacters with odd index are '%s'" %s[1::2]) #(0-based indexing)
print("The last five characters are '%s'" % s[-5:]) # 5th-from-last to end

#Convert everything to uppercase 
print("String in uppercase: %s" % s.upper())

#Cibvert everything to lowercase
print("String in lowercase: %s" % s.lower())

#Check how a string starts
if s.startswith("Str"):
      print("String starts with 'Str' .Good!")

#Check how a string ends
if s.endswith("ome!"):
      print("String neds with 'ome!' .Good!")

#Split the string into three separate strings,
# each containing only a word
print("Split the words of the string: %s" % s.split(" "))

Length of s = 20
The first occurrence of the letter a = 8
a occurs 2 times
The first five characters are 'Strin'
The next fice characters are  'gs ar'
The thirteenth character is 'a'
The chatacters with odd index are 'tig r wsm!'
The last five characters are 'some!'
String in uppercase: STRINGS ARE AWESOME!
String in lowercase: strings are awesome!
String starts with 'Str' .Good!
String neds with 'ome!' .Good!
Split the words of the string: ['Strings', 'are', 'awesome!']

# 条件式

イコールは==
ノットイコールは!=

In [ ]:
x = 2
print(x == 2) #prints out True
print(x == 3) #prints oput False
print(x < 3) #prints out True

True
False
True

プール演算子

In [ ]:
name = 'John'
age =23
if name == 'John' and age == 23:
  print('Your name is John, and you are also 23 years old.')

if name == 'John' or name == 'Rick':
  print('Your name is either John or Rick.')

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

in演算子を使用して指定されたオブジェクトがリストなどの反復可能なオブジェクトコンテナ内に存在するかどうかを確認することが可能

In [ ]:
name = 'John'
if name in ['John', 'Rick']:
    print('Your name is either John or Rick.')

Your name is either John or Rick.

Pythonでは角括弧の代わりにインデントを使用してコードブロックを定義する
標準のインデントは4スペースだが、一貫性がある限りタブやその他のスペースサイズでも機能する

In [ ]:
statement = False
another_statement = True
if statement is True:
  #do something
    pass
elif another_statement is True: #else if
  #do something else
    pass
else:
    #do another thing
    pass

In [ ]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x equals two!

ステートメントは次のいずれかが正しい場合にtrueとして評価される
1 Trueブール変数が与えられるか、算術比較などの式を使用して計算される
2 空とみなされないオブジェクトが渡される
（空とみなされるオブジェクト
空の文字列 ""
空のリスト[]
数字ゼロ 0
偽のブール変数 偽

is演算子 
is演算子は変数の値ではなくインスタンス自体と一致する

In [ ]:
x = [1,2,3]
y = [1,2,3]
print(x == y) #Ptints out True
print(x is y) #Prints out False

True
False

not演算子
ブール式の前にnotを使用すると反転する

In [ ]:
print(not False) #Prints out True
print((not False) == (False)) #Prints out False

True
False

In [ ]:
number = 16
second_number = 0
first_array = [1,2,3]
second_array = [1,2]

if number > 15:
  print('1')

if first_array:
  print('2')

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number:
    print("6")

1
2
3
4
5
6

# 繰り返しループ

for

In [ ]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

for文はrange関数とxrange関数を使用して一連の数値を反復処理することが可能
range関数は指定された範囲の数値を含む新しいリストを返す
xrangeは反復子を返すため効率的
範囲関数は0から始まる

In [ ]:
#Prints out the numbers 0,1,2,3,4
for x in range(5):
  print(x)

#Prints out 3,4,5
for x in range(3,6):
  print(x)
#prints out 3,5,7
for x in range(3,8,2):
  print(x)

0
1
2
3
4
3
4
5
3
5
7

while

In [ ]:
#Prints out the numbers 0,1,2,3,4
#0から5未満になるまで1ずつ足しながら繰り返し
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

中断ステートメントと続行ステートメント

In [ ]:
#Prints out 0,1,2,3,4

count = 0
while True:
  print(count)
  count += 1
  if count >= 5:
      break #beakは終了
#Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    #Check if x is even
    if x % 2 == 0:
        continue #continueは現在のブロックをスキップしてwhileステートメントに戻る
    print(x)

0
1
2
3
4
1
3
5
7
9

ループにelseを使用する
Pythonではループにelseを使用することが可能
forまたはwhileのループ条件がfalseだとelseが実行される

breakがループ内で実行されるとelseはスキップされる
continue文の場合はelseも実行される

In [ ]:
#Prints out 0,1,2,3,4 and then it prints 'count value reached 5'

count = 0
while(count<5):
  print(count)
  count += 1
else:
  print('count value reached %d' %(count))

  #Prints out 1,2,3,4
  for i in range(1,10):
    if(i%5==0):
      break #breakがあるのでelseは実行されない
    print(i)
  else:
    print('this is not printed because for loop is terminated because of break but not due to fail in condition')

0
1
2
3
4
count value reached 5
1
2
3
4

In [ ]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

# your code goes here
for number in numbers:
 if number == 237:
   break
 if number % 2 == 1:
    continue

    print(number)

# 関数

コードを便利にブロックに分割するために使う

Pythonの関数は def 使用して定義される
def の後にブロックの名前として関数名を記述する

In [ ]:
def my_function():
    print('Hello from My Function!')

引数を受け取る

In [ ]:
def my_functino_with_args(username, greeting):
    print('Hello, %s , From My Function!, I wish you %s' %(username, greeting))

returnを使用して呼び出し元に値を返す

In [ ]:
def sum_two_numbers(a, b):
  return a + b

関数の呼び出し

関数の名前の後に()を書き、必要な引数を括弧内に記述する

In [ ]:
#Define our 3 functions
def my_function():
  print('Hello From My Functino!')

def my_function_with_args(username, greeting):
  print('Hello, %s, From My Function!, I wis you %s' %(username, greeting))

def sum_two_numbers(a, b):
  return a + b

#print(a simple greeting)
my_function()

#prints - 'Hello, John Doe, From My Funtion!. I wish you a great year!'
my_function_with_args('John Doe', 'a great year!')

#after this line x will hold the value 3!
x = sum_two_numbers(1, 2)

Hello From My Functino!
Hello, John Doe, From My Function!, I wis you a great year!

In [ ]:
#Modify this function to return a list of strings as defined above
def list_benefits():
  return 'More organized code','More readable code', 'Easier code reuse' , 'Allowing programmers to share and connect code together'

#Modify this function to concatenate to each benefit - ' is a benefit of functions!'

def build_sentence(benefit):
    return '%s is a benefit of functions!' % benefit

def name_the_benefits_of_functinos():
  list_of_benefits = list_benefits()
  for benefit in list_of_benefits:
      print(build_sentence(benefit))

  name_the_benefits_of_functions()

# クラスとオブジェクト

オブジェクトは変数と関数を１つのエンティティにカプセル加したもの

オブジェクトはクラスから変数と関数を取得する
クラスはオブジェクトを作成するためのテンプレート

In [ ]:
class MyClass:
  variable = 'blah'

  def function(self):
    print('This is a message inside the class.')

↑のクラスをオブジェクトに割り当てるには次のように記述する

In [ ]:
class MyClass:
  variable = 'blah'

  def function(self):
    print('This is a message inside the class.')

    myobjectx = MyClass()

↑これで変数myobjectxは変数MyClassというクラス内で定義された関数を含むクラスMyClassのオブジェクトを保持する

新しく作成されたオブジェクトmyobjectx内の変数にアクセスするには次のように記述する

In [ ]:
class MyClass:
  variable = 'blah'

  def functino(self):
    print('This is a message inside the class.')

myobjectx = MyClass()

myobjectx.variable

'blah'

同じクラスの複数の異なるオブジェクトを作成できる。ただし、各オブジェクトにはクラスで定義されている変数の独立したコピーが含まれいる

In [ ]:
class MyClass:
  variable = 'blah'

  def function(self):
    print('This is a message inside the class.')

myobjectx = MyClass()
myobjecty = MyClass()

myobjecty.variable = 'yackity'

#Then print out both values
print(myobjectx.variable)
print(myobjecty.variable)

blah
yackity

オブジェクト関数へのアクセス

In [ ]:
class MyClass:
  variable = 'blah'

  def function(self):
    print('This is a message inside the class.')

myobjectx = MyClass()

myobjectx.function()

This is a message inside the class.

初期化関数 __init__()はクラスの開始時に呼び出される特別な関数　クラスに値を割り当てるために使用される

In [ ]:
class NumberHolder:

  def __init__(self, number):
    self.number = number

We have a class defined for vehicles. Create two new vehicles calles 
car1 and car2. Set car1 to be a red convertible worth $60,000 with a name of Fer, and car2 to be a blue van named Jump worth $10,000

In [ ]:
# define the Vehicle class
class Vehicle:
  name = ''
  kind = 'car'
  color = ''
  value = 100.00
  def description(self):
      desc_str = '%s is a %s %s worth $%.2f.' % (self.name, self.color, self.kind, self.value)
      return desc_str

# your ccode goes here 
car1 = Vehicle()
car1.name = 'Fer'
car1.color = 'red'
car1.kind = 'convertible'
car1.value = 60000.00

car2 = Vehicle()
car2.name = 'Jump'

# Dictionaries

ディクショナリは配列に似たデータ型ですが、インデックスではなくキーと値で機能します。　ディクショナリに格納さｒている各値には、インデックスを使用してアドレス指定する代わりに、任意の型のオブジェクトにアクセスできる

例　電話帳

In [ ]:
phonebook = {}
phonebook["John"] = 938477566
phonebook["Jack"] = 938377264
phonebook["Jill"] = 947662781
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

Dictionariesの反復処理

Dictionariesはリストと同様に反復処理が可能
ただし、リストとは異なり格納されている値の順序を保持しない。

Dictionaries can be iterated ober, just like a list, does not keep the order of the values stored in it. To iterate over key value pairs, use the following syntax:

In [ ]:
phonebook = {"John" : 938477566,"Jack" : 938377264,"Jill" : 947662781}
for name, number in phonebook.items():
    print("Phone number of %s is %d" % (name, number))

Phone number of John is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781

値の削除
指定したインデックスを削除する

In [ ]:
phonebook = {
   "John" : 938477566,
   "Jack" : 938377264,
   "Jill" : 947662781
}
del phonebook["John"]
print(phonebook)

Add 'Jake' to the phonebook with the phone number 938273443, and remoce Jill from the phonebook

In [ ]:
phonebook = {
    "John" : 938477566,
    "Jack" : 938377264,
    "Jill" : 947662781
}

# your code goes here
phonebook['Jake'] = 938273443
del phonebook['Jill']

#testing code
if 'Jake' in phonebook:
  print('Jake is listed in the phonebook.')

if 'Jill' not in phonebook:
  print('Jill is not listed in the phonebook.')

Jake is listed in the phonebook.
Jill is not listed in the phonebook.

# モジュールとパッケージ

モジュールの記述

Pythonのモジュールは、py拡張子を持つ単なるPuthonファイル

モジュールの名前はファイル名と同じ

Pythonモジュールには一連の関数、クラスまたは変数が定義され実装されている場合がある。

In [ ]:
# game.py
# import the draw module
import draw

def play_game():
  ...
def main():
  result = play_game()
  draw.draw_game(result)

#this means that if this script is executed, then
# main() will be executed

if __name__ == '__main__':
  main()

# draw.oy()
def draw_game():
  ...

def clear_screen(screen):
  ...

ModuleNotFoundError: ignored

In this example, the game module imports the draw module, which enables it to use functions implemented in that module. The main function uses the local function play_game to run the game, and then draws the result of the game using a function implemented in the draw module called draw_game. To use the function draw_game from the draw module, we need to specify in which module the function is implemented using the dot operator, To reference the draw_game draw.draw_game().

When the import draw directive runs, the Python interpreter looks for a file in the directory in which the script was executed with the module name and a .py suffix. In this case it will look for draw.py.If it is found, it will be imported. If it's not found, it will continue looking for built-in modules.

You may have noticed that when importing a module, a .pyc file is createed. This is a compiled Python file. Python compiles files into Puthon butecode so that it won't have to parse the files each time modules are loaded. If a .pyc file exists, it gets loaded instead of the .py file.This process is transparent to the user.

**現在の名前空間へのモジュールオブジェクトのインポート**

名前空間はすべてのオブジェクトに名前が付けられ、Pythonでアクセスできるシステム

コマンドを使用して関数をメインスクリプトの名前空間にインポートする

In [ ]:
# game.py
#import the draw module

from draw import draw_game

def main():
  result = play_game()
  draw_game(result)

ModuleNotFoundError: ignored

you may have noticed in this example, the name of the module does not precede draw_game, because we've specified the module name using the import command,

The advantages of this notation is that you don't hace to reference the module over and over, However, a namespace cannot have two objects with the same name, so the import command may replace an existing object in the namespace.

モジュールからのすべてのオブジェクトのインポート

import *

In [ ]:
#game.py
#import the draw module
from draw import *

def main():
  result = play_game()
  draw_game(result)

ModuleNotFoundError: ignored

This might be a bit risky as changes in the module may affect the module which imports it, but it is shorter, and doesn't require you to specify every object you want to import from the module.

Custom import name

モジュールは任意の名前でよみこむことが可能

In [ ]:
#game.py
#import the draw module
if visual_mode:
  # in cisual mode, we draw using graphics
  import draw_visual as draw
else:
  #in textual mode, we print out text
  import draw_textual as draw

def main():
  result = play_game()
  #this can either be visual or textual depending on visual_mode
  draw.draw_gane(result)

モジュールの初期化

実行中のPythonスクリプトにモジュールが初めて読み込まれるとき、モジュール内のコードを1回実行することで初期化される。
コード内のモジュールが同じモジュールを再度インポートした場合、そのモジュールはリロードされない

In [ ]:
# draw.py

def draw_game():
  # when clearing the screen we can use the main screen object initialozed in this module

  clear_screen(main_screen)
  ...

def clear_screen(screen):
  ...
class Screen():
  ...

# initialize main_screen as a singleton
main_screen = Screen()

モジュールのロードパスの拡張

Pythonインタプリタにモジュールを探す場所を指示する方法

次のようなモジュールを探すための追加ディレクトリを指定可能

In [ ]:
PYTHONPATH=/foo python game.py

This executes game.py and enables the sctipt to loat modules from the foo directory, as well as the local directory,

You may also use the sys.path.append function. Execute it before running the import command:

**組み込みモジュールの探索**

In [ ]:
#import the library
import urllib

# use it 
urllib.urlopen(...)

**パッケージの作成**

使用方法

In [ ]:
import foo.bar

In the tirst example aboce, we have to uew the foo prefix whenever we access the module var. In the second example, we don't because we've imported the module to our module`s namespace.

The __init__.py file can also decide which modules the package exports as the API, while keeping other modules internal, by overriding the __all__ variable like so:

In [ ]:
__init__.py:

  __all__ = ['var']

In [ ]:
import re

# Your code goes here 
find_membeas = []
for member in dir(re):
  if 'find' i member:
      fint_members.append(member)

print(sorted(find_members))

SyntaxError: ignored

# Numpy配列

リストの優れた代替手段

高速で操作が簡単
配列全体で計算を実行することも可能

最初に2つのリストを作成し、Numpyパッケージをインポートし、新しく作成したリストからNumpy配列を作成する例

In [ ]:
# Create 2 new lists height and weight
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

# Import the numpy package as np
import numpy as np

# Create 2 numpy arrays from height and weight
np_height = np.array(height)
np_weight = np.array(weight)

要素単位の計算

In [ ]:
# Calculate BMI
bmi = np_weight / np_height ** 2

#Print the result
print(bmi)

[23.34925219 27.88755755 28.75558507 25.48723993 23.87257618 25.84368152]

サブセット化

BMI配列のどの観測値が23を超えているか知りたい場合の例

In [ ]:
# For a boolean response
bmi > 23

# Print only those observations above 23
bmi[bmi > 23]

array([23.34925219, 27.88755755, 28.75558507, 25.48723993, 23.87257618,
       25.84368152])

In [ ]:
weight_kg = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]

import numpy as np

#Create a numpy array np_weight_kg from weight_kg
np_weight_kg  = np.array(weight_kg)

#Create np_weight_lbs from np_weight_kg
np_weight_lbs = np_weight_kg * 2.2

#Print out np weight_lbs
print(np_weight_lbs)

[179.63  214.544 209.55  204.556 189.596 194.59 ]

# Pandas Basics

Pandasでは1次元はSeries、二次元はDataFrameとなる

Seriesの作成

In [ ]:
#dict
dic = {'word' : 470, 'camera' : 78}
Series(dic)
#zipとdictを合わせてSeriesを生成
Series(dict(zip(words, frequency)))

インデックス参照
index名もインデックスの引数として入れることが可能

In [ ]:
ser = Series(np.random.randn(5), index = list('ABCDE'))

#スライシング
ser[1]
ser['A']
ser[1:3]
ser[-1:]
ser[:-1]
ser[[1,2]]
ser[['A','B']]
ser > 0
ser[ser > 0]

#Read, Write両方できるので該当する者のみ右辺値を書き込むことも可能
ser[ser > 0] = 0

DataFrameの作成

In [ ]:
#外側も内側もdictの場合
pop = {'Nevada' : {2001 : 2.4, 2002 : 2.9},
       'Ohio' : {2000 : 1.5, 2001 : 1.7}}
df2 = DataFrame(pop)

#外側がdictで内側がseriesの場合
dfA = DataFrame({'typeA' : df1['name'], 'typeB' : df2['address']})

dfB = DataFrame([df1['name'], df2['address']]).T

Pandasはデータ操作ツール
Numpyパッケージ上に構築されている
データフレームと呼ばれており、使用すると表形式のデータをオブザベーションの行と変数の列に格納、操作できる

In [ ]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

インデックスを指定する場合は

brics.index = [] の括弧の中に記述する

In [ ]:
#Set the index for brics
brics.index = ['BR', "RU", "IN", "CH", "SA"]

#Print out brics with new index values
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

Pandasを使用してcsvファイルをインポートする

In [ ]:
#Import pandas as pd
import pandas as pd
#Import the cars.csv data: cars
employee = pd.read_csv('employee.csv')

#Print out cars
print(employee)

   Unnamed: 0  id  name       job
0           0   1  John  Engineer
1           1   2  Lily     Sales

データフレームのインデックス作成

角括弧を使用してDataFrameの1つの列を選択する

シングルクォーテーションはPandasシリーズを出力しダブルクォーテーションはPandasデータフレームを出力する

In [ ]:
#Import pandas and cars.csv
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

#Print out country column as Pandas Series
print(cars['cars_per_cap'])

#Print out country colu,m as Pandas DataFrame
print(cars[['cars_per_cap']])

#Print out DataFrame with country and drives_right columns
print(cars[['cars_per_cap', 'country']])

FileNotFoundError: ignored

角括弧を使用してDataFrameから行にアクセスする例

In [ ]:
#Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

#Print out first 4 observations
print(cars[0:4])

#Print out fifth and sixth observation
print(cars[4:6])

FileNotFoundError: ignored

You can also use loc and iloc to perform just about any data selection operation, loc us label-based. which means that you have to specify rows and columns based on their row and column labels. iloc is integer index based. so you have to specify rows and columns by their integer index like you did in the previous exercise.

In [ ]:
#Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

#Print out observation for Japan
print(cars.iloc[2])

#Print out observations for Australoa and Egypt
print(cars.loc[['AUS', 'EG']])

# polars

一次元配列をpl.Series　二次元配列をpl.DataFrameと呼ぶ

pandasと違い**pl.DataFrameにはインデックス列が存在しない**

polarsでは列名は文字列でなければならない

列名の重複は許されない

polarsには日付を扱うpl.Dateと日時を扱うpl.Datatimeが存在する

型変換メソッドはpolarsでは.cast()

**エクスプレッション**

polarsにはシリーズとデータフレームとは別にエクスプレッションというクラスが存在する

一連の命令をオブジェクトとして持つことができるオブジェクトで、データフレームやシリーズの特定のメソッドに与えることで実際にその操作が行われる。

**csvファイルの読み書き**

pandasと同様にread_csv()関数を使用する

In [ ]:
df = pl.read_csv("./example/data.csv")

ほかの配列から変換
pl.DataFrame()コンストラクタを使用してデータフレームを作成する際にcolumns引数を渡すと列名を設定できる

In [ ]:
rng = np.random.default_rng(0)
df = pl.DataFrame(rng.random((8, 4)), columns="ABCD")
df
# shape: (8, 4)
# ┌──────────┬──────────┬──────────┬──────────┐
# │ A        ┆ B        ┆ C        ┆ D        │
# │ ---      ┆ ---      ┆ ---      ┆ ---      │
# │ f64      ┆ f64      ┆ f64      ┆ f64      │
# ╞══════════╪══════════╪══════════╪══════════╡
# │ 0.636962 ┆ 0.269787 ┆ 0.040974 ┆ 0.016528 │
# ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ 0.8132   ┆ 0.912756 ┆ 0.606636 ┆ 0.729497 │
# ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ 0.543625 ┆ 0.935072 ┆ 0.815854 ┆ 0.002739 │
# ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ 0.857404 ┆ 0.033586 ┆ 0.729655 ┆ 0.175656 │
# ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ 0.863179 ┆ 0.541461 ┆ 0.299712 ┆ 0.422687 │
# ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ 0.0283   ┆ 0.124283 ┆ 0.670624 ┆ 0.6471   │
# ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ 0.615385 ┆ 0.383678 ┆ 0.9972   ┆ 0.980835 │
# ├╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ 0.685542 ┆ 0.650459 ┆ 0.688447 ┆ 0.388921 │
# └──────────┴──────────┴──────────┴──────────┘

**行の抽出・フィルタリング・条件選択**

[]を使用した行と列の連宅

df[]の[]に列名を渡すことで列選択になる

In [ ]:
df["Integer"]

# shape: (4,)
# Series: 'Integer' [i64]
# [
#     1
#     2
#     3
#     4
# ]


df[["Integer", Float]]

# shape: (4, 2)
# ┌─────────┬───────┐
# │ Integer ┆ Float │
# │ ---     ┆ ---   │
# │ i64     ┆ f64   │
# ╞═════════╪═══════╡
# │ 1       ┆ 1.0   │
# ├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
# │ 2       ┆ 2.0   │
# ├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
# │ 3       ┆ 3.0   │
# ├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
# │ 4       ┆ 4.0   │
# └─────────┴───────┘

polarsはpandasと異なりインデックス列が存在しないため、df[]の[]に整数を渡すと行選択と判断される

In [ ]:
df[0]
# shape: (1, 4)
# ┌─────────┬───────┬─────────────────────┬────────┐
# │ Integer ┆ Float ┆ Datetime            ┆ String │
# │ ---     ┆ ---   ┆ ---                 ┆ ---    │
# │ i64     ┆ f64   ┆ datetime[ns]        ┆ str    │
# ╞═════════╪═══════╪═════════════════════╪════════╡
# │ 1       ┆ 1.0   ┆ 2022-04-01 00:00:00 ┆ test   │
# └─────────┴───────┴─────────────────────┴────────┘

# 行スライス
df[1:3]
# shape: (2, 4)
# ┌─────────┬───────┬─────────────────────┬────────┐
# │ Integer ┆ Float ┆ Datetime            ┆ String │
# │ ---     ┆ ---   ┆ ---                 ┆ ---    │
# │ i64     ┆ f64   ┆ datetime[ns]        ┆ str    │
# ╞═════════╪═══════╪═════════════════════╪════════╡
# │ 2       ┆ 2.0   ┆ 2022-04-01 00:00:00 ┆ train  │
# ├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
# │ 3       ┆ 3.0   ┆ 2022-04-01 00:00:00 ┆ test   │
# └─────────┴───────┴─────────────────────┴────────┘

真偽値配列によるフィルタリング

pandasと同様にシリーズに比較演算子を使用すると真偽値配列となる

In [ ]:
df["Integer"] > 3
# shape: (4,)
# Series: 'Integer' [bool]
# [
#     false
#     false
#     false
#     true
# ]

.filter()メソッドによる行フィルタリング

.filter()メソッドではpl.Expr()を渡すことでフィルタリングが可能

In [ ]:
rng = np.random.default_rng()
df_num = pl.DetaFrame(rng.integers(0, 10, (6, 3)), columns=list("ABC"))

df_num
# shape: (6, 3)
# ┌─────┬─────┬─────┐
# │ A   ┆ B   ┆ C   │
# │ --- ┆ --- ┆ --- │
# │ i64 ┆ i64 ┆ i64 │
# ╞═════╪═════╪═════╡
# │ 7   ┆ 8   ┆ 4   │
# ├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ 4   ┆ 1   ┆ 3   │
# ├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ 4   ┆ 0   ┆ 1   │
# ├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ 6   ┆ 8   ┆ 4   │
# ├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ 1   ┆ 2   ┆ 5   │
# ├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ 2   ┆ 7   ┆ 7   │
# └─────┴─────┴─────┘

# pandasと同様の`df[]`の記法
df_num[(df_num["A"] < df_num["B"]) & (df_num["C"] < 5)]
# shape: (2, 3)
# ┌─────┬─────┬─────┐
# │ A   ┆ B   ┆ C   │
# │ --- ┆ --- ┆ --- │
# │ i64 ┆ i64 ┆ i64 │
# ╞═════╪═════╪═════╡
# │ 7   ┆ 8   ┆ 4   │
# ├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ 6   ┆ 8   ┆ 4   │
# └─────┴─────┴─────┘

# `.filter()`メソッドの記法
df_num.filter((pl.col("A") < pl.col("B")) & (pl.col("C") < 5))
# shape: (2, 3)
# ┌─────┬─────┬─────┐
# │ A   ┆ B   ┆ C   │
# │ --- ┆ --- ┆ --- │
# │ i64 ┆ i64 ┆ i64 │
# ╞═════╪═════╪═════╡
# │ 7   ┆ 8   ┆ 4   │
# ├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ 6   ┆ 8   ┆ 4   │
# └─────┴─────┴─────┘

**リストに含まれるかどうかを判定する**

Series.is_in()

In [ ]:
df["Integer"].is_in([2, 4, 6])
# shape: (4,)
# Series: 'Integer' [bool]
# [
#     false
#     true
#     false
#     true
# ]
df[df["Integer"].is_in([2, 4, 6])]
df.filter(pl.col("Integer").is_in([2, 4, 6]))
# shape: (2, 4)
# ┌─────────┬───────┬─────────────────────┬────────┐
# │ Integer ┆ Float ┆ Datetime            ┆ String │
# │ ---     ┆ ---   ┆ ---                 ┆ ---    │
# │ i64     ┆ f64   ┆ datetime[ns]        ┆ str    │
# ╞═════════╪═══════╪═════════════════════╪════════╡
# │ 2       ┆ 2.0   ┆ 2022-04-01 00:00:00 ┆ train  │
# ├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
# │ 4       ┆ 4.0   ┆ 2022-04-01 00:00:00 ┆ train  │
# └─────────┴───────┴─────────────────────┴────────┘

SyntaxError: ignored

重複行の削除
unique()

subset=引数:識別する列を指定する
デフォルトではすべての列が一致した場合のみ削除される

keep=引数:デフォルトのkeep="first"では重複行のうち、最初に出現した行は残る
keep="last"を指定すると重複している中で一番最後の行が残る

pandas のようにすべて削除することはできない

In [ ]:
df_dup = pl.DataFrame(
    {
          "a": ["one", "one", "two", "two", "two", "three", "four"],
        "b": ["x", "y", "x", "y", "x", "x", "x"],
        "c": rng.random(7),
    }
)

df_dup.unique(subset=['a','b'])

df_dup.unique(subset=['a'])

df_dup.unique(subset=['a'], keep='last')

**列の選択と追加**
[]を使った列の選択

In [ ]:
adf["Integer"]

df[["Integer", "Float"]]

polarsでは行はint型で指定、列はstr型で指定と限定されている

**列の追加**

.with_column()

In [ ]:
new_seires = (df["Integer"] * 2).alias("Integer2")
df.with_column(new_serires)

#既存の列名と同名の列を追加しようとすると、追加ではなく更新処理になる
df.with_column(df["Integer"] * 100)

.with_column()ではなく.with_columns()を使用すると一度に複数の列を追加できる

In [ ]:
new_seires1 =  (df["Integer"] * 2).alias("Integer2")
new_seires2 = (df["Float"] * 2).alias("Float2")
df.with_columns([new_seires1, new_seires2])

**四則演算**

In [ ]:
rng =np.random.default_rng(0)
df_num = pl.DataFrame(rng.integers(0, 10, (6, 3)), columns=list('ABC'))

df_num


df_num + 2

df_num * 2

**比較演算**

データフレームに対して比較演算はできないがシリーズに対しては可能

In [ ]:
df_num["A"] == 0

df_num["A"] > 2

#同じ長さのシリーズ同士での比較も可能
df_num["A"] > df_num["B"]

#等価比較 == は数値以外でも比較可能
pl.Series(["foo", "bar","baz"]) == pl.Series(["foo", "bar", "qux"])

**集計関数**
.sum()や.mean()は列方向に適用可能

In [ ]:
df_num.sum()

df_num.mean()

df_num.quantile(0,5)

列方向の集約は.fold()という特殊な関数を使用する

In [ ]:
df_num.fold(lambda a, b: a+b)

**出現回数を集計**

,value_counts()

In [ ]:
df_num["A"].value_counts()

**DataFrame.join()による結合**

2つのデータフレームを結合する

デフォルトでは内部結合となり、2つのデータフレームに共通して存在するキーのみを保持する

In [ ]:
left = pl.DataFrame(
       {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)
# shape: (4, 4)
# ┌──────┬──────┬─────┬─────┐
# │ key1 ┆ key2 ┆ A   ┆ B   │
# │ ---  ┆ ---  ┆ --- ┆ --- │
# │ str  ┆ str  ┆ str ┆ str │
# ╞══════╪══════╪═════╪═════╡
# │ K0   ┆ K0   ┆ A0  ┆ B0  │
# ├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ K0   ┆ K1   ┆ A1  ┆ B1  │
# ├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ K1   ┆ K0   ┆ A2  ┆ B2  │
# ├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ K2   ┆ K1   ┆ A3  ┆ B3  │
# └──────┴──────┴─────┴─────┘

right = pl.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)
# shape: (4, 4)
# ┌──────┬──────┬─────┬─────┐
# │ key1 ┆ key2 ┆ C   ┆ D   │
# │ ---  ┆ ---  ┆ --- ┆ --- │
# │ str  ┆ str  ┆ str ┆ str │
# ╞══════╪══════╪═════╪═════╡
# │ K0   ┆ K0   ┆ C0  ┆ D0  │
# ├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ K1   ┆ K0   ┆ C1  ┆ D1  │
# ├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ K1   ┆ K0   ┆ C2  ┆ D2  │
# ├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ K2   ┆ K0   ┆ C3  ┆ D3  │
# └──────┴──────┴─────┴─────┘

left.join(right, on=["key1", "key2"])
# shape: (3, 6)
# ┌──────┬──────┬─────┬─────┬─────┬─────┐
# │ key1 ┆ key2 ┆ A   ┆ B   ┆ C   ┆ D   │
# │ ---  ┆ ---  ┆ --- ┆ --- ┆ --- ┆ --- │
# │ str  ┆ str  ┆ str ┆ str ┆ str ┆ str │
# ╞══════╪══════╪═════╪═════╪═════╪═════╡
# │ K0   ┆ K0   ┆ A0  ┆ B0  ┆ C0  ┆ D0  │
# ├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ K1   ┆ K0   ┆ A2  ┆ B2  ┆ C1  ┆ D1  │
# ├╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
# │ K1   ┆ K0   ┆ A2  ┆ B2  ┆ C2  ┆ D2  │
# └──────┴──────┴─────┴─────┴─────┴─────┘

GrupBy

グループごとに関数を適用する場合に使用する
pandasと同様に列名または列名のリストをキーとして渡す可能

結果のデータフレームは並び順はランダム

In [ ]:
rng = np.random.default_rng(0)
df = pl.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": rng.random(8),
        "D": rng.random(8),
    }
)

# shape: (8, 4)
# ┌─────┬───────┬──────────┬──────────┐
# │ A   ┆ B     ┆ C        ┆ D        │
# │ --- ┆ ---   ┆ ---      ┆ ---      │
# │ str ┆ str   ┆ f64      ┆ f64      │
# ╞═════╪═══════╪══════════╪══════════╡
# │ foo ┆ one   ┆ 0.636962 ┆ 0.543625 │
# ├╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ bar ┆ one   ┆ 0.269787 ┆ 0.935072 │
# ├╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ foo ┆ two   ┆ 0.040974 ┆ 0.815854 │
# ├╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ bar ┆ three ┆ 0.016528 ┆ 0.002739 │
# ├╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ foo ┆ two   ┆ 0.8132   ┆ 0.857404 │
# ├╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ bar ┆ two   ┆ 0.912756 ┆ 0.033586 │
# ├╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ foo ┆ one   ┆ 0.606636 ┆ 0.729655 │
# ├╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ foo ┆ three ┆ 0.729497 ┆ 0.175656 │
# └─────┴───────┴──────────┴──────────┘

df.groupby(["A", "B"]).sum()
# shape: (6, 4)
# ┌─────┬───────┬──────────┬──────────┐
# │ A   ┆ B     ┆ C_sum    ┆ D_sum    │
# │ --- ┆ ---   ┆ ---      ┆ ---      │
# │ str ┆ str   ┆ f64      ┆ f64      │
# ╞═════╪═══════╪══════════╪══════════╡
# │ foo ┆ two   ┆ 0.854244 ┆ 1.673258 │
# ├╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ bar ┆ one   ┆ 0.269787 ┆ 0.935072 │
# ├╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ bar ┆ three ┆ 0.016528 ┆ 0.002739 │
# ├╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ bar ┆ two   ┆ 0.912756 ┆ 0.033586 │
# ├╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ foo ┆ one   ┆ 1.243597 ┆ 1.2732   │
# ├╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
# │ foo ┆ three ┆ 0.729497 ┆ 0.175656 │
# └─────┴───────┴──────────┴──────────┘

**テキストデータを扱う**

In [ ]:
df_str = pl.DataFrame(
   {"orig": ["A", "B", "Aaba", "Baca", None, "CABA", "dog", "cat"]}
)

df_str.with_columns([
    # シリーズの操作
    df_str["orig"].str.lengths().alias("len"),
    df_str["orig"].str.to_lowercase().alias("lower"),
    # エクスプレッションの操作
    pl.col("orig").str.to_uppercase().alias("upper"),
    pl.col("orig").str.slice(1, 3).alias("slice"),
])

加算演算子で文字列を結合

In [ ]:
df_str["orig"] + "_" + df_str["orig"]
# shape: (8,)
# Series: 'orig' [str]
# [
#     "A_A"
#     "B_B"
#     "Aaba_Aaba"
#     "Baca_Baca"
#     null
#     "CABA_CABA"
#     "dog_dog"
#     "cat_cat"
# ]

**正規表現検索で一致部分を抽出**

.str.extract()メソッドは、キャプチャグループを含む正規表現を渡すと、マッチした部分を返す

デフォルトでは最初のマッチグループを返す

$2が欲しい場合はgroup_index = 2

# Generators

反復可能な項目のセットを一度に１つずつ特別な方法で返す関数

一連の項目に対する反復処理がforステートメントの使用を開始するとジェネレータが実行される
ジェネレータの関数コードがyieldステートメントに到達するとジェネレータはその実行をforループに戻しセットから新しい値を返す。

ジェネレータ関数は必要な数だけ値を作成しそれぞれを順番に生成できる

7つのランダムな整数を返すジェネレータ関数の簡単な例

In [ ]:
import random
def lottery():

  #returns 6 numbers between 1 and 40
  for i in range(6):
      yield random.randint(1, 40)

  # returns a 7th number between 1 and 15
  yield random.randint(1,15)
for random_number in lottery():
  print('And the next number is... %d!' %(random_number))

And the next number is... 32!
And the next number is... 26!
And the next number is... 11!
And the next number is... 5!
And the next number is... 36!
And the next number is... 23!
And the next number is... 6!

フィボナッチ数列を返す

In [ ]:
a = 1
b = 2
a, b = b, a
print(a, b)

2 1

aとbの値を同時に切り替える

In [ ]:
#fill in this function
def fib():
  a, b = 1, 1
  while 1:
    yield a
    a, b = b, a + b
  pass #this is a null statement which does nothing when executed, useful as a placeholder.

  #testing code
import types
if type(fib()) == types.GeneratorType:
  print('Good, The fib function is a generator.')

  counter = 0
  for n in fib():
    print(n)
    counter += 1
    if counter == 10:
      break

Good, The fib function is a generator.
1
1
2
3
5
8
13
21
34
55

# List Comprehensions

リスト内包表記
別のリストに基づいて新しいリストを1行の読みやすい行で作成する

In [ ]:
sentence = 'the quick brown fox jumps over the lazy dog'
words = sentence.split()
word_lengths = []
for word in words:
  if word != 'the':
    word_lengths.append(len(word))
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

リスト内包表記を使用すると↑を次のコードのように簡略化できる

In [ ]:
sentence = 'the quick brown for jumps over the lazy dog'
words = sentence.split()
word_lengths = [len(word) for word in words if word != 'the']
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'for', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

Using a list omprehension create a new list called 'newlist' out of the list 'numbers'.which contains only the positive numbers from the list, as integers,

In [ ]:
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]
newlist = [int(x) for x in numbers if x > 0]
print(newlist)

[34, 44, 68, 44, 12]

# ラムダ関数

関数をどこかで定義して呼び出す代わりに、使用するのと同じ場所で定義されたインライン関数であるPythonのラムダ関数が使用可能
名前を持つ必要がないため、匿名関数とも呼ばれる

In [ ]:
your_function_name = lambda inputs : output

ラムダ関数を使用したコード例

In [ ]:
a = 1
b = 2
c = lambda x,y : x + y
print(c)

<function <lambda> at 0x7f94094db9d0>

In [ ]:
l = [2,4,7,3,14,19]
for i in l:
  my_lambda = lambda x : (x % 2) == 1
  print(my_lambda(i))

False
False
True
True
False
True

# 複数の関数引数

In [ ]:
def myfunction(first, second, third):
  # do something with the 3 variables

可変数の引数を受け取る関数の宣言

therest変数は変数のリストであり、最初の3つの引数の後にfoo関数に与えられたすべての引数を受け取る

In [ ]:
def foo(first, second, third, *therest):
  print('First: %s' % first)
  print('Second: %s' % second)
  print('Third: %s' % third)
  print('And all the rest... %s' % list(therest))

引数の順序が重要にならないようにキーワードで関数の引数を送信する

In [ ]:
def foo(first, second, third, *therest):
    print("First: %s" %(first))
    print("Second: %s" %(second))
    print("Third: %s" %(third))
    print("And all the rest... %s" %(list(therest)))

foo(1, 2, 3, 4, 5)

First: 1
Second: 2
Third: 3
And all the rest... [4, 5]

bar関数は3つの引数を受け取る

追加のaction引数が受信され数値の合計を指示すると合計が出力される

また、関数に渡されたnumberパラメータの値がfirstと等しい場合は最初の引数を返す

In [ ]:
def bar(first, second, third, **options):
  if options.get('action') == 'sum':
    print('The sum is: %d' %(first + second + third))

  if options.get('number') == 'first':
    return first

  result = bar(1,2,3, action = 'sum', number = 'first')
  print('Result: %d' %(result))

Fill the foo and bar functions so they can receive a variable amount of arguments(3 or more) the foo function must return the amount of extra arguments received. The bar must return True if the argument with the keyword magicnumber is worth 7. and False otherwise.

In [ ]:
def foo(a, b, c, *args):
  return len(args)
def bar(a, b, c, **kwargs):
  return kwargs['magicnumber'] == 7


if foo(1,2,3,4) == 1:
  print('Good.')

if foo(1,2,3,4,5) == 2:
  print('Better.')

if bar(1,2,3, magicnumber=6) == False:
  print('Great.')

if bar(1,2,3, magicnumber=7) == True:
  print('Awesome!')

Good.
Better.
Great.
Awesome!

# 正規表現

Pythonでは re モジュールを使用する。
特定のタスクに正規表現を使用するときは代替案を考え最後の手段として正規表現を利用する。

In [ ]:
# Example:
import re 
pattern  re.compile(r"\[(on|off)\]") #Slight optimization
print(re.search(pattern, "Nada...:-("))
#Doesn`t returnm anything.
# End Example

#Exercise: make a regular expresion thet will match an email
def test_email(your_patern):
  pattern = re.compile(your_patern)
  emails = ["John@example.com","python-list@python.org", "wha.t.`lan?ug{}ly@email.com"]
  for email in emails:
    if not re.match(pattern, email):
      print("You failed to match %s" % (email))
    elif not your_pattern:
      print("Forgot to enter a pattern!")
    else:

# 例外処理

When programming, errors happern. It`s just a fact of lihe, Perhaps the user gave bad input. Maybe a network resource was unavailable. Maybe the program ran out of memory. Or the programmer may have even made a mistake!

Python`s solution to errors are exceptions. You might have seen an exception before

In [ ]:
print(a)

#error
Traceback (most recent call last):
File "<stdin>", line 1, in <module>
NameError: name 'a' is not defined
</module></stdin>

a変数に値を割り当てるのを忘れていた場合
例外処理となる
例外処理に特別な動作をさせたいときは

try/exceptブロックを記述する

In [ ]:
def do_stuff_with_number(n):
  print(n)

def catch_this():
  the_list = (1,2,3,4,5)

    for i in range(20):
        try:
            do_stuff_with_number(the_list[i])
        exept IndexError: # Raised when accessing a non-existing index of a list
            do_stuff_with_number(0)

catch_this()

SyntaxError: ignored

In [ ]:
actor = {'name': 'John Cleese', "rank":"awesome"}

def get_last_name():
  return actor['name'].split()[1]

get_last_name()
print('All exceptions caught! Good job!')
print('The actor`s last name is %s' % get_last_name())

All exceptions caught! Good job!
The actor`s last name is Cleese

# セット

重複するエントリが存在しないリスト

段落で使用されている単語のリストを収集したい時の例

In [ ]:
print(set('my name is Eric and Eric is my name'.split()))

{'Eric', 'and', 'name', 'my', 'is'}

二回使用された単語は一度のみ登録される。

セットはほかのセット間の差や交差を計算する機能がある

イベントAとイベントBの参加者のリストの例

In [ ]:
a = set(['Jake', 'John', 'Eric'])
print(a)
b = set(['John', 'Jill'])
print(b)

{'John', 'Eric', 'Jake'}
{'John', 'Jill'}

両方のイベントに参加したメンバーを確認したいときは交差メソッドを使用する

In [ ]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])
#intersection(交差)
print(a.intersection(b))
print(b.intersection(a))

{'John'}
{'John'}

最低でもどちらかのイベントに参加したメンバー確認するのには

summetric_difference メソッドを使用する

In [ ]:
a = set(['Jake', 'John','Eric'])
b = set(['John', 'Jill'])

print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{'Eric', 'Jake', 'Jill'}
{'Jill', 'Eric', 'Jake'}

片方のイベントにのみ参加したメンバーを確認するには

差分メソッドを使用する

In [ ]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.difference(b))
print(b.difference(a))

{'Eric', 'Jake'}
{'Jill'}

すべての参加者のリストを受け取るにはunionメソッドを使用する

In [ ]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.union(b))

{'John', 'Eric', 'Jill', 'Jake'}

In [ ]:
a = ['Jake','John','Eric']
b = ['John','Jill']

A = set(a)
B = set(b)

print(A.difference(B))

{'Eric', 'Jake'}

# Serialization

JSONをエンコード及びデコードするための組み込みのJSONライブラリ

In [ ]:
import json

JSONデータには2つの基本的な警視kいがある。

・文字列

・データ構造

データ構造は互いにネストされたリストと辞書で構成されている。

データ構造から要素を追加、一覧表示、検索、削除が可能

String形式はデータを別のプログラムに渡したりデータ構造にロードするために使用される。

JSONをデータ構造にロードしなおすには、 loads メソッドを使用する。このメソッドは文字列を受け取り、それをJSONオブジェクトのデータ構造に戻す

In [ ]:
import json
print(json.loads(json_string))

データ構造をJSONにエンコードするには dumps メソッドを使用する。このメソッドはオブジェクトを受け取りStringを返す

In [ ]:
import json
json_string = json.dumps([1,2,3,'a','b','c'])
print(json_string)

[1, 2, 3, "a", "b", "c"]

より高速に動作する代替手段

pickle

In [ ]:
import pickle
pickled_string = pickle.dumps([1,2,3,'a','b','c'])
print(pickle.loads(pickled_string))

[1, 2, 3, 'a', 'b', 'c']

In [ ]:
import json

#fix this function, so it adds the given name
#and salary pair to salaries_json, and return it

def add_employee(salaries_json, name, salary):
  salaries = json.loads(salaries_json)
  salaries[name] = salary

  return json.dumps(salaries)

  #test code
  salaries = '{"Alfred" : 300, "Jane" : 400 }'
  new_salaries = add_employee(salaries, "Me", 800)
  decoded_salaries = json.loads(new_salaries)
  print(decoded_salaries["Alfred"])
  print(decoded_salaries["Jane"])
  print(decoded_salaries["Me"])

# 部分関数

部分関数を使用するとxパラメータを持つ関数をより限定された関数に設定されたパラメータと固定値が少ない関数に導出できる

In [ ]:
from functools import partial

this code will return 8

In [ ]:
from functools import partial

def multiply(x, y):
  return x * y

#create a new function that multiplies by 2

dbl = partial(multiply, 2)
print(dbl(4))

8

An important note: the default values will start replacing variables from the left.

The 2 will replace x.y will equal 4 when dbl(4)is called. It does not make a dufference in this example, but it does in the example below.

In [ ]:
from functools import partial

def func(u, v, w, x):
  return u*4 + v*3 + w*2 + x
  
p = partial(func,5,6,7)
print(p(8))

60

# Code Introspection

コードイントロスペクションは、クラス、関数、キーワードを調べて、それらが何であり何をするかを知る機能

In [ ]:
help()
dir()
hasattr()
id()
type()
repr()
callable()
issubclass()
isinstance()

__doc__
__name__

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

TypeError: ignored

In [ ]:
# Define the Vehicle class

class Vehicle: 
  name = ""
  kind = "car"
  color = ""
  value = 100.00
  def description(self):
      desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)

      return desc_str

# Print a list of all attributes of the Veficle class.

print(dir(Vehicle))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'color', 'description', 'kind', 'name', 'value']

# Closures

メモリ内に存在しない場合でも囲むスコープの値を記憶するオブジェクト

ネストされた関数は別の関数内で定義された関数
入れ子になった関数は、外側のスコープの変数にアクセスできることに注意することが重要

ただしPythonでは読み取り専用のみ。
ただしこれらの変数でnonlocalキーワードを使用して変数を変更することが可能

In [ ]:
def transmit_to_space(message):
    "This is the enclosing function"
    def data_transmitter():
        "The nested function"
        print(message)

    data_transmitter()

print(transmit_to_space("Test message"))

Test message
None

data_transmitter機能がmessageにアクセスできるから機能している

In [ ]:
def print_msg(number):
  def printer():
    "Here we are using the nonlocal keyword"
    nonlocal number
    number=3
    print(number)
  printer()
  print(number)

print_msg(9)

3
3

nonlocalを使用しない場合出力は 3 9になる。

In [ ]:
def transmit_to_space(message):
  "This is the enclosing function"
  def data_transmitter():
    "The nested function"
    print(message)
  return data_transmitter

fun2 = transmit_to_space("Burn the Sun!")
fun2 ()

Burn the Sun!

In [ ]:
def multiply_of(n):
    def multiplier(number):
        return number*n
    return multiplier

multiplywith5 = multiplier_of(5)
print(multiplywith5(9))

NameError: ignored

# Decorators

デコレーターを使用すると関数、メソッド、クラスなどの呼び出し可能なオブジェクトに簡単な変更を加えることができる

In [ ]:
@decorator
def functions(arg):
    return "value"

NameError: ignored

In [ ]:
def function(arg):
    return "value"
  function = decorator(function) # this passes the functino to the decorator, and reassigns it to the functions

IndentationError: ignored

In [ ]:
def repeater(old_function):
  def new_function(*args, **kwds): # See learnpython.org/en

      old_function(*args, **kwds)
      olt_function(*args, **kwds)

  return new_function

In [ ]:
@repeater
def multiply(num1, num2):
    print(num1 * num2)

multiply(2, 3)
6
6

6

NameError: ignored

出力の変更

In [ ]:
def double_out(old_function):
  def new_function(*args, **kwds):
      return 2 * old_function(*args, **kwds) #modufy the return value
  return new_function

入力の変更

In [ ]:
def double_Ii(old_function):
  def new_function(arg): #only works if the old function has one argument
      return old_function(arg * 2) #modify the argument passed
  return new_function

add do checking

In [ ]:
def check(old_function):
  def new_function(arg):
    if arg < 0: raise (ValueError, "Negative Argument")
    #This causes an error, which is better than it doing the wrong thing
    old_function(arg)
  return new_function

出力に可変数をかける

In [ ]:
def multiply(multiplier):
  def multiply_generator(old_function):
      def new_function(*args, **kwds):
          return multiplier * old_function(*args, **kwds)
      return new_function
  return multiply_generator # it returns the new generator

# Usage

@multiply(3) # multiply is not a generator , but multiply(3) is
def return_num(num):
    return num

# Now return_num is decorated and reassigned into itself

return_num(5) # should return 15

15

Make a decorator factory which returns a decorator that decorates functions with one argument. The factory should take one argument, a type. and then returns a decorator that makes function should check if the input is the correct type. If it is wrong, it should print("Bad Type")

In [ ]:
def type_check(correct_type):
    def check(old_function):
      def new_function(arg):
        if (isinstance(arg, correct_type)):
          return old_function(arg)
        else:
          print("Bad Type")
      return new_function
    return check
@type_check(int)
def times2(num):
    return num*2

print(times2(2))
times2('Not A Number')

@type_check(str)
def first_letter(word):
    return word[0]

print(first_letter('Hello World'))
first_letter(['Not', 'A', 'String'])

4
Bad Type
H
Bad Type

# Map, Filter, Reduce

この３つの関数を使用すると一度に多数の反復可能オブジェクトに関数を適用できる。

**Map**

map(func, *iterables)

Where func is the function on which each element in iterales (as many as they are) would be applied on. Notice the asterisk on iterables

It means there can be as many iterales as possible, in so far func has that you note the following:

1. 結果をリストとして取得するには
list(map(func, *iterables))

2. 引数の数はリストの要素数と同じでなければならない

例

通常

In [ ]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']
uppered_pets = []

for pet in my_pets:
    pet_ = pet.upper()
    uppered_pets.append(pet_)

print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

map()関数を使うと簡単に短く記述できる

In [ ]:
my_pets = ['alfred', 'tabitha', 'william', 'arla']

uppered_pets = list(map(str.upper, my_pets))

print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

Which would also output the same result.Note that using the defined map() syntax aboce, func in this case is str.upper and iterables is the my_pets list -- just one iterabe. Also note that we did not call the str.upper function (doing this:str.upper()), as the map function does that for us on each element in the my_pets list.

What's mor eimportant to note is that the str.upper function requires only one argument by definition and so we passed just one iterable to it So if the function you're passing requires two, or three, or n arguments, then you need to pass in two, three or n iterables to it, Let me clarify this with another example,

Say I have a list of circle areas that I calculated someWhere, all in five decimal places, And I need to round each element in the list up to its position decimal places, meaning that I have to round up the first element in the list to one decimal places, etc. With map() this is a piece of cake.

In [ ]:
circle_areas = [3.5673, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

result = list(map(round, circle_areas, range(1, 7)))

print(result)

[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

In [ ]:
circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

result = list(map(round, circle_areas, range(1, 3)))

print(result)

[3.6, 5.58]

The same thing happens if circle_areas is less than the length of the second iterable. Python simply stops when it can't find the next element in one of the iterables,

To consolidate our knowledge of the map() function,we are going to use it to implement our own custom zip() function, The zip() function is a function that takes a number of iterables and then creates a tuple containing each of the elements in the iterables, Like map(), in Python 3, it returns a genertor object, which can be eaasily converted to a list by calling the built-in list function on it, Use the below interpreter session to get a grip of zip() before we create ours with map()

In [ ]:
my_strings = ['a','b','c','d','e']
my_numbers = [1,2,3,4,5]

results = list(zip(my_strings, my_numbers))

print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [ ]:
my_strings = ['a','b','c','d','e']
my_numbers = [1,2,3,4,5]

results = list(map(lambda x, y: (x,y), my_strings, my_numbers))

print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

Just look at that! We have the same result as zip.

Did you also notice that I didn't ecen need to create a function using the def my_function() standard way? That's how flexible map(), and Python in general, is | simply used a lambda function,

This is not to say that using the standard function definition method (of def function_name()) isn't allowed, it still is, I simply preferred to write less code (be "Pythonic").

That's all about map, Onto filter()

**Filter**

反復可能オブジェクトの各要素を関数に渡し、関数を通過したすべての要素の結果を返す。

まず関数がブール値を返し、次に反復可能オブジェクトの各要素を関数に渡し、falseの要素をフィルタリングする必要がある。

構文

map()filter()

filter(func, iterable)

注意点

1. map()とは異なり、イテラブルは一つだけ必要

2. 引数はブール型を返すために必要　そうでない場合は単に渡されたものを返す。
また、必要な反復可能値は１つだけなので、引数を１つだけとらなければならないのは暗黙的
funcfilteriterablefunc

3. filter反復可能な各要素を通してtrueと評価された要素のみを返す。

例

試験を受けた10人の学生のうち、75点以上（合格）した生徒を抽出する

In [ ]:
scores = [66, 90, 57, 59, 76, 60, 88, 64, 81, 65]

def is_A_student(score):
  return score > 75
over_75 = list(filter(is_A_student, scores))

print(over_75)

[90, 76, 88, 81]

回文を検出する例

In [ ]:
dromes = ('demigod','rewire','madam','freer','anutforajaroftuna','kiosk')

palindromes = list(filter(lambda word: word == word[::-1], dromes))

print(palindromes)

['madam', 'anutforajaroftuna']

**Reduce**

2つの引数の関数を反復可能オブジェクトの要素に累積的に適用し、必要に応じて最初の引数から開始する。　

構文

reduce(func, iterable[, initial])

ここで、funcは各要素が累積的に適用される関数であり、iterableは計算で反復可能オブジェクトが空のときのデフフォルトとして機能します。

注意点

1. func requires two argunments,the first of which is the first element in iterable(if initial is not supplied) and the second element in iterale. if initial is suplied, then it becomes the first argument to func and the first element in iterable becomes the second element,

2, reduce 'reduces'(I know, forgive me) iterable into a single value,

As usual, let's see some examples,

Let's create our own cersion of Python's built-in sum() function, The sum() function returns the sum of all the items in the iterable passed to it,

In [ ]:
from functools import reduce

numbers = [3,4,6,9,34,12]

The result, as you'll expect is 68,

So,what happened?

As usual, it's all about iterations: reduce takes the first and second elements in numbers and passes them to custom_sum respectively, custom_sum computes their sum and returns it to reduce, reduce then takes that result and applies it as the first element to custom_sum and takes the next element(third) in numbers as the second element to custom_sum, It does this continuously(cumulatively) until numbers is exhausted,

In [ ]:
from functools import reduce
numbers = [3, 4 ,6, 9, 34, 12]

def custom_sum(first, second):
    return first + second

result = reduce(custom_sum, numbers, 10)
print(result)

78

In [ ]:
#### Map
from functools import reduce

my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]
my_names = ["olumide", "akinremi", "josiah", "temidayo", "omoseun"]
my_numbers = [4, 6, 9, 23, 5]

map_result = list(map(lambda x: round(x ** 2,3), my_floats))
filter_result = list(filter(lambda name: len(name) <= 7, my_names))
reduce_result = reduce(lambda num1, num2: num1 * num2, my_numbers)

print(map_result)
print(filter_result)
print(reduce_result)

[18.922, 37.088, 10.562, 95.453, 4.666, 78.854, 21.068]
['olumide', 'josiah', 'omoseun']
24840

# PANDASのサンプル

DataFrame

In [ ]:
import pandas as pd

index = [2017,2018,2019,2020]
columns = ["部員数", "マネージャー数", "成績",]

data = [
      [30, 2, "１回戦負け"],
    [35, 0, "3回戦負け"],
    [50, 1, "準優勝"],
    [70, 5, "優勝"]
]

df = pd.DataFrame(data=data, index=index, columns=columns)
print(df)

      部員数  マネージャー数     成績
2017   30        2  １回戦負け
2018   35        0  3回戦負け
2019   50        1    準優勝
2020   70        5     優勝

**ファイルの読み込み・書き出し**

読み込み
（読み込みたいファイルがコード書くファイルと同階層に存在する場合はファイルパスの記載は不要

pd.read_ファイル形式("ファイルのパス/ファイル名")

**CSVファイルを読み込む**

In [ ]:
#Import pandas as pd pandasをpdという別名で読み込む
import pandas as pd
#Import the employee.csv data: employee
employee = pd.read_csv('employee.csv')

#Print out employee
print(employee)

   Unnamed: 0  id  name       job
0           0   1  John  Engineer
1           1   2  Lily     Sales

指定した列を出力

In [ ]:
import pandas as pd

df = pd.read_csv('employee.csv')

#列を指定して出力
print('---select column')
print(df['name'])
print('---')

---select column
0    John
1    Lily
Name: name, dtype: object
---

指定した行を出力

In [ ]:
import pandas as pd

df = pd.read_csv('employee.csv')

print("---select row")
print(df.loc[0])

---select row
Unnamed: 0           0
id                   1
name              John
job           Engineer
Name: 0, dtype: object

ソートして出力

In [ ]:
#昇順
df = df.sort_values('col_name')
#降順
df = df.sort_values('col_name',ascending=False)

書き出し
（書き出したファイルをコードのファイルと同階層に保存する場合はファイルパスの記載は不要

**CSVファイルを書き出す**

データフレームをcsv出力

In [ ]:
import pandas as pd
df = pd.DataFrame([
    ['0001', "John", "Engineer"],
  ["0002", "Lily", "Sales"]],
  columns=['id', 'name', 'job'])

#csvファイルを書き出す処理
df.to_csv('employee.csv')

出力する際のいろいろなオプション

In [ ]:
import pandas as pd

#書き出すDataFrameを定義
index = [2017, 2018, 2019, 2020]
columns = ["部員数", "マネージャー数", "成績",]

data = [
    [30, 2, "１回戦負け"],
    [35, 0, "3回戦負け"],
    [50, 1, "準優勝"],
    [70, 5, "優勝"]
]

df = pd.DataFrame(data=data, index=index, columns=columns)

#csvファイルを書き出す処理
#内容に日本語を含む際はencodingオプションでutf-8を指定する
df.to_csv("sample.csv", encoding="utf-8")

すでに存在するファイルに対して追記して上書きする場合

In [ ]:
import pandas as pd

df = pd.DataFrame([
  ["0001", "ジョン", "Engineer"],
  ["0002", "リリィ", "Sales"]],
  columns=['id','name','job'])
w = pd.DataFrame([['0003','ジョー','Teacher']])

  #CSVファイルを出力
  #df.to_csv('employee.csv', index=False, encoding='utf=8',mode='a')

  #CSVファイル(employee)に追記
w.to_csv('employee.csv',index=False, encoding='utf-8',mode='a',header=False)

書き出し先にインデックスを表示しない場合

In [ ]:
df.read_csv("sample.csv", index=False)

書き出し先にカラムを表示しない場合

In [ ]:
df.read_csv("sample.csv", header=False)

どちらも表示しない場合

In [ ]:
df.read_csv("sample", index=False, header=False)

書き出し先のインデックスに名前をつける場合

In [ ]:
df.to_csv('some2.csv', index_label='date')

欠損値(NaN)のある行を削除

In [ ]:
df = df.dropna()

特定のカラムに欠損値のある行を削除

In [ ]:
#tempかdepthに欠損値がある行は削除
#それ以外のカラムのみが欠損の行は削除されない

In [ ]:
df = df.dropna(subset=['temp','depth'])

欠損値の穴埋め

In [ ]:
#欠損値を0で埋める
df = df.fillna(0)

一時間ごとのデータを日平均に変換

In [ ]:
daily = hourly.resample('0').mean()

グループ化して各グループごとの平均を取る

In [ ]:
grouped_mean = df.groupby(['type','time']).mean()

irisというデータセットを使う

In [ ]:
from sklearn.datasets import load_iris
import pandas as pd

#irisデータセットをirisに格納
iris = load_iris()

#irisデータセットをDataFrameに変換
df = pd.DataFrame(iris,data, columns=iris.feature_names)



print(df)

                   sepal length (cm) sepal width (cm) petal length (cm)  \
30    35    50  70               NaN              NaN               NaN
2     0     1   5                NaN              NaN               NaN
１回戦負け 3回戦負け 準優勝 優勝               NaN              NaN               NaN

                   petal width (cm)
30    35    50  70              NaN
2     0     1   5               NaN
１回戦負け 3回戦負け 準優勝 優勝              NaN

In [ ]:
len(iris)

8

複数column(dateとhourをまとめてdatetime型のindex(date_hour)として読み込む

In [ ]:
df = pd.read_csv('some.csv', parse_dates={'date_hour':['date','hour']}, index_col='date_hour')

In [ ]:
import pandas as pd

data = pd.read_csv("sample.csv", encoding="cp932")
#encoding="cp932"がないと文字化けすることがある

print(type(data))

#出力
#CSVファイルを読み込むとDataFrame型で読み込まれる
<class 'pandas.core.frame.DataFrame'>

SyntaxError: ignored

ファイル名を現在日技に指定してcsv作成

In [ ]:
import datetime
import csv

#現在日時の取得
now = datetime.datetime.now()

#ディレクトリの指定
filename = './content' + now.strftime('%Y%m%d_%H%M%S') + 'csv'

#一行目（カラム）の作成
with open(filename,'w') as f:
  writer = csv.writer(f)
  writer.writerow(['time','x','y','z'])

  x,y,z = 0,0,0
  while(1):
    x += 1
    y += 1
    z += 3
    now_str = datetime.datetime.now().strftime('%H:%M:%S.%f')

    #filenameを作成するファイル名に合わせる
    #writer.writerowでlistをcsvに書き込む
    with open(filename,'a', newline='') as f:
      writer = csv.writer(f)
      writer.writerow([now_str, x, y, z])
                       
    break



# Polarsのサンプル

irisデータセットを使用した適当なサンプル

In [ ]:
import polars as pl

df = pl.read_csv("https://j.mp/iriscsv")
df_agg = (
    df
    .select([pl.col("^sepal_.*$"),pl.col("species")])
    .with_column((pl.col("sepal_width") * 2).alias("new_col"))
    .filter(pl.col("sepal_length") > 5)
    .groupby("species")
    .agg(pl.all().mean())
)

NameError: ignored

Polarsでは処理をメソッドチェーンをつないで記述することが多い。基本的には書いた処理が順に走る

read_csv: データの読み込み
select: 列の選択
with_columns: 列の追加
filter: 列の選択
groupby: グループ化
agg: 集計

**pl.Exprを使う**

amapping from a series to a series

例　文字列で入っているcost列を整数に変換する

In [ ]:
pl.col("cost").str.extract("\$(.*)").cast(pl.Int64)

pl.colでcost列を指定し、それに対してstr.extractで$に続く部分を抽出し、最後にcastでint型に変換している

In [ ]:
#整数に変換した列の追加
df.with_columns(pl.col("cost").str.extract("\$(.*)").cast(pl.Int64).alias("cost_int"))

#コストが100ドル以上の行を選択
df.filter(pl.col("cost").str.extract("\$(.*)").cast(pl.Inte64).alias("cost_int"))

#店舗ごとのコストの合計を計算
df.groupby("store").agg(pl.col("cost").str.extract("\$(.*)").cast(pl.Int64).sum())

NameError: ignored

# サンプル

In [ ]:
a='Hello'
b='World'

#文字の連結
c=a+b
print('%s+%s=%s'%(a,b,c))

#文字列の繰り返し
#f=a*10 
#print(f)

d=format('%s %s' % (a,b))
print(d)


#文字列の置換
g=b.replace('or','OR')
print(g)

Hello+World=HelloWorld
Hello World
WORld

**if**

In [ ]:
number = 1

if number == 1:
  print('1')
elif number == 2:
  print('2')
else
  print('another')

**for**

In [ ]:
for number in range(10):
  print(number)

0
1
2
3
4
5
6
7
8
9

**while**

In [ ]:
number = 0
print('start')
while number < 10:
  print(number)
  number += 1
print('end')

start
0
1
2
3
4
5
6
7
8
9
end

**関数**

In [ ]:
def func1(number1, number2):
  answer = number1 + number2
  return answer
total_number = func1(8, 25)
print(total_number)

#func1が関数名 number1 と number2が引数
#func1を呼び出すときに8と25を引数に指定しているので
#関数内で計算された結果の33が返ってくる

33

In [ ]:
from flask import Flask, render_template, request

#Model 
class Task:
  def __init__(self, description, status):
    self.description = description
    self.status = status
app = Flask(__name__)

@app.route('/')
def index():
  tasks = [
      Task('Finish homework', 'in progress'),
      Task('Buy groceries', 'done')
  ]

  return render_template('index.html', tasks=tasks)

# Controller

if __name__ == '__main__':
  app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

INFO:werkzeug: * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

In [ ]:
import pandas as pd

df = pd.read_csv('sample.csv')

print df
print df['A']

SyntaxError: ignored

In [ ]:
pop = {'Nevada' : {2001 : 2.4, 2002 : 2.9},
       'Ohio' : {2000 : 1.5, 2001 : 1.7 }}
       df = DataFrame(pop)
       df[df['Nevada'] > 2]
       df,iloc[-1:]['Nevada']

# sandbox

In [ ]:
import pandas as pd

print(pd.__version__)

df = pd.read_csv('/content/sample2.csv')

In [ ]:
x = int(input("Please enter an integer:"))
if x < 0 :
  x = 0
  print('Negative changed to zero')

elif x == 0:
  print('Zero')

else:
  print("more")

Please enter an integer:0
Zero

In [ ]:
words = ['cat','window','defenestrate']
for w in words:
  print(w, len(w))

cat 3
window 6
defenestrate 12

In [ ]:
#Create a sample collection
users = {'Hans': 'active','Eleonore': 'inactive'}

#Strategy Iterate over a copy
for user, status in users.copy().items():
  if status == 'inactive':
    del users[user]

#Strategy Create a new collection
active_users = {}
for user, status in users.items():
  if status == 'active':
    active_users[user] = status

関数の定義

フィボナッチ数列を任意の上限値まで書き出す関数

In [ ]:
def fib(n):
  #write Fibonacci series up to n

  a, b = 0, 1
  while a < n:
    print(a, end=' ')
    a, b = b, a+b
  print()
  #Now call the functin we just defined:
  fib(2000)

defは関数を定義するキーワード
defの後には関数名と仮引数を（）で囲んだリストを続けて記述しなければならない。

関数の本体の最初の行は文字列リテラルにすることも可能。その場合その文字列は関数のドキュメンテーション文字列(documentation string)またはdocstringと呼ばれる。

関数を実行(execution)するとき関数のローカル変数のために使われる新たなシンボルテーブルが用意される。

関数内で変数への代入を行うと、その値はすべてこのシンボルテーブルに記憶される。

関数のなかではグローバル変数や外側の関数の変数に直接値を代入することはできないが、参照することは可能。

In [ ]:
def fib2(n):
  # retrun Fibonacci series up tp n

  result = []
  a, b = 0, 1
  while a < n:
    result.append(a) # see below
    a, b = b, a+b
  return result

f100 = fib2(100) #call it
f100             # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

return文では関数から値を一つ返す
returnの引数となる式がない場合はNoneが返る
関数が終了したときもNoneが返る。

デフォルトの引数値
一つ以上の引数に対してデフォルトの値を指定する形式を使うと、定義されている引数より少ない個数の引数で呼び出せる関数が作成される

In [ ]:
def ask_ok(prompt, retries=4, reminder='Please try again'):
  while True:
    ok = input(prompt)
    if ok in ('y','ye','yes'):
      return True
    if ok in ('n','no','nop','nope'):
      return False
    retries = retries -1
 
    if retries < 0:
      raise ValueError('invalid user response')
    print(reminder)

この関数の呼び出し方

１．必須の引数のみ与える

ask_ok('Do you really want to quit?')

２．一つのオプション引数を与える

ask_ok('OK to overwrite the file?',2)

３．すべての引数を与える

ask_ok('OK to overwrite the file?,2,'Come on, only yes or no!')

In [ ]:
import pandas as pd
import os

os.chdir("/content")

df = pd.read_csv("tst.csv")
print df

SyntaxError: ignored

In [ ]:
import pandas as pd
import pyodbc

print(pyodbc.drivers())
print()

#connection用接続文字列
conn_str = (
    r'DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};' 
    r'DBQ=(ドライブ名):\(フォルダー名)\ファイル名.accdb;'
)

with pyodbc.connect(conn_str) as conn:

  df = pd.io.sql.read_sql(r'select * from テーブル名', conn)
  print(df)
  print()

SyntaxError: ignored

In [ ]:
def map_rating_category(rating):
  if rating > 4:
    return 'Excellent'
  elif rating > 2:
    return 'Average'
  else:
    return 'Poor'

rating_file = pd.read_csv(ratings.csv)
rating_file['evalation'] = rating_file['rating'].apply(map_rating_category)

行列演算にはDataFrameではなくNumpyの多次元配列を使用する

In [ ]:
import numpy as np

def rating_category(df_):
  return np.select(
      condlist=(
          df_['rating'] > 4,
          df_['rating'] > 2,
      ),
      choicelist=('Excellent', 'Average'),
      default='Poor'
  )

  rating_file = pd.read_csv('ratings.csv')
  rating_df = rating_file.assign(
      evaluation = lambda df_: rating_category(df_)
  )

In [ ]:
rating_file = pd.read_csv('ratings.csv')
rating_matrix = csr_matrix(
    pd.pivot_table(
        rating_file[['userId', 'movieId', 'rating']],
        index='userId',
        columns='movieId'
    ).fillna(0).values
)

In [ ]:
import csv

with open('ratings.csv', 'r') as f:
  rating_reader = csv.DictReader(f)
  ratings = [row for row in rating_reader]

  with open('ratings.json','w') as f:
    json.dump(ratings, f)

多数の要素が繰り返されるSeriesがある場合、元のSeriesをcategory型に変換したものを作成し、それに対して.str.<method>などを適用するほうが高速。
このパフォーマンスの違いは、category型のSeriesの場合、文字列操作はSeriesの各要素だけでなく、.categoriesで実行されるうことになる。

文字列の.categoriesを持つcategory型のSeriesには、文字列型のSeriesと比較していくつかの制限がある。

list型の要素を操作する.strメソッドもそのようなSeriesでは使用不可

# Python メモ

インデントには空白4つを使用し、Tabは使用しない

ソースコードの文字列が79文字以下になるように折り返す

関数やクラスや関数内の大きめのコードブロックの区切りに空白行を入れる

コメントはコメントのみの行に記述する

演算子の前後とコンマのあとには空白を入れる
括弧の隣には空白を入れない

クラスや関数に一貫性のある名前をつける。

UpperCamelCaseをクラス名に使うようにする

# Vaex

Pandasと同様にデータフレームなどを扱うことが可能

Pandasよりも膨大なデータの読み込みや計算を高速に実行できる

In [ ]:
import vaex
import pandas as pd

pandas_df = pd.DataFrame(
    data=[{
        'a': 1,
        'b': 2,

    }, {
        'a': 3,
        'b': 4,
    }])

vaex_df = vaex.from_pandas(df=pandas_df, copy_index=False)
vaex_df

ModuleNotFoundError: ignored

Vaexの使い方

特定カラムへのアクセス

In [ ]:
vaex_df['a']

# Pandasメモ

正規表現を扱う際にはいくつかの注意が必要

regexがTrueに設定されている場合でも、1文字のパターンをリテラル文字列として扱う。この動作は非推奨。

str.replace()と同様の)文字列のリテラル置換を行いたい場合は、各文字をエスケープするのではなく、オプションのregexパラメータをFalseに設定する。

replaceメソッドは関数を呼び出して置換することも可能

re.sub()を使用してすべてのpatに対して呼び出される。
呼び出し可能オブジェクトは、1つの位置引数（正規表現オブジェクト）を受け取り、文字列を返す必要がある。

In [ ]:
#小文字のアルファベットの綴りをすべて反転
pat = r'[a-z]+'

def repl(m):
  return m.group(0)[::-1]

  pd.Series(['foo 123','bar baz',np,nan], dtype='string').str.replace(
      pat, repl, regex=True
  )

pat = r'(?P<one>\w+)(?P<two>\w+) (?P<three>\w+)'

def repl(m):
  return m.group('two').swapcase()

pd.Series(['Foo Bar Baz', np.nan], dtype='string').str.replace(
    pat, repl, regex=True
)

replaceメソッドはパターンとしてre.compile()からコンパイルされた正規表現オブジェクトも受け入れる。

In [ ]:
import re

regex_pat = re.compile(r'^.a|dog', flags=re.IGNORECASE)

s3.str.replace(regex_pat, 'XX-XX ', regex=True)

コンパイルされた正規表現オブジェクトでreplaceを呼び出すときにflags引数を使用するとValueErrorが発生する。

結合

seriesやIndexをそれ自体または他と結合するには、すべてcat()またはindex.str.catに基づいたいくつかの方法がある。

各要素の最初の一致を抽出

extractメソッドは少なくとも1つのキャプチャグループを持つ正規表現を受け取る。

複数のグループを持つ正規表現を抽出するとグループごとに一つの列を持つデータフレームが返される。

一致しない要素はNaN行を返す。　乱雑な文字列のシリーズはタプルまたはre.matchオブジェクトにアクセスするのにget()を必要とせずにクリーンアップされたデータフレームに変換できる。

一致が見つからず結果がNaNのみであってもデータ型は常にオブジェクトとなる。

すべての一致を抽出

extractallメソッドはすべての一致を返す。
extractallの結果は常にMultiIndexを行に持つDataFrameとなる。

match、fullmatch、containsの違いは厳密さでfullmatchは文字列全体が正規表現と一致しているかどうかで判断し、matchは文字列の先頭部分が正規表現と一致しているかで判断する。containsは文字列内の任意の位置に正規表現と一致する部分が存在するかどうかで判断する。

欠損データの操作

NaNは計算速度と利便性の理由からデフォルトの欠損値マーカーではあるが、浮動小数点、整数、真偽値など、さまざまなデータ型でこの値を簡単に検出できる必要がある。
しかし多くの場合PythonのNoneも見られ、欠落または利用不可またはNAも考慮する必要がある。

In [ ]:
df = pd.DataFrame(
    np.random.randn(5,3),
    index=['a','c','e','f','h'],
    columns=['one','two','three'],
)

df['four'] = 'bar'

df['five'] = df['one'] > 0

df


df2 = df.raindex(["a", "b", "c", "d", "e", "f", "g", "h"])

df2

欠損値の検出を容易にするために、pandasはisna()およびnotna()関数を用意している。これらはSeriesおよびDataFrameオブジェクトのメソッドでもある。

Pythonではnanは同等ではなく、Noneは同等である。

整数データ型と欠損データ

NaNは浮動小数点であるため、欠損値が一つでもある整数の列は、浮動小数点データ型に変換される。pandasは、欠損値を含むことができる整数配列が存在している。

In [ ]:
pd.Series([1, 2, np.nan, 4], dtype=pd.Int64Dtype())

文字型エイリアスdtype='Int64'を指定することでも使用可能。

時系列データ

datetime64[ns]型の場合、NaTが欠損値を表す。
これはNumPyの単一のデータ型で表すことができる疑似ネイティブのセンチネル値。pandasオブジェクトはNaTとNaNの互換性を持つ。

欠損データの挿入

コンテナに割り当てるだけで欠損値を挿入することが可能。　使用される実際の欠損値はデータ型にとづいて選択される。

欠損データに対する計算

欠損値はpandasオブジェクト間の算術演算を通じて自然に伝播する。

データ構造の概要で説明されている記述統計と計算方法はすべて欠損データを説明するために書かれている。

・データを合計するときNaNはゼロとして扱われる。

・データがすべてNaNの場合、結果は0となる。

・cumsum()やcumprodなどの累積メソッドはデフォルトではNaN値を無視するが、結果の配列には保持する。この動作をオーバーライドしてNaN値を含めるにはskipna=Falseを使用する。

pandasオブジェクトによる穴埋め

整列可能な辞書またはシリーズを使用して穴埋めすることもできます。
辞書のキーあるいはシリーズのインデックスは、穴埋めしたいフレームの列名と一致する必要があります。以下の例は、データフレームにその列の平均を入力しています。

In [ ]:
dff = pd.DataFrame(np.random.randn(10, 3), columns=list('ABC '))

dff.iloc[3:5, 0] = np.nan

dff.iloc[4:6, 1] = np.nan

dff.iloc[5:8, 2] = np.nan

dff

dff.fillna(dff.mean())

dff.fillna(dff.mean()["B":"C"])

#穴埋めの値をそろえたもの
dff.where(pd.notna(dff), dff.mean(), axis="columns")

データが欠損している軸ラベルの削除

単純にデータを参照しているラベルをデータセットから除外したい場合はdropa()を使用する。

In [ ]:
df
#    one       two     three
# a  NaN -0.282863 -1.509059
# c  NaN  1.212112 -0.173215
# e  NaN  0.000000  0.000000
# f  NaN  0.000000  0.000000
# h  NaN -0.706771 -1.039575

df.dropna(axis=0)
# Empty DataFrame
# Columns: [one, two, three]
# Index: []

df.dropna(axis=1)
#         two     three
# a -0.282863 -1.509059
# c  1.212112 -0.173215
# e  0.000000  0.000000
# f  0.000000  0.000000
# h -0.706771 -1.039575

df["one"].dropna()
# Series([], Name: one, dtype: float64)

シリーズにも同等のdropna()が用意されている。

DataFrame.dropnaにはSeries.dropnaよりもかなり多くのオプションがある。

補完

シリーズオブジェクトとデータフレームオブジェクトの両方にinterpolate()があり、デフォルトでは欠落しているデータポイントで線形補完を実行する。

methodキーワードを用いることでインデックスに基づいた補完の実行も可能

浮動小数点インデックスの場合。method='values'を使用する。

method引数を用いることで、より高度な補完を実行することも可能。
scipyがインストールされている場合は、一次元補完ルーチンの名前をmethodに渡すことが可能。適切な補完方法は扱うデータの種類によって異なる。

・増加率の高い時系列を扱う場合はmethod='quadratic'が適切

・累積分布関数に近似した値の場合はmethod='pchipが適切

・スムーズなプロットを目指して欠損値を埋めるにはmethod='akima'を検討する

補完の制限

pandasの他の穴埋めメソッドと同様にinterpolate()はキーワード引数limitを受け取ります。この引数を使用して最後の有効な観測以降に入力された連続したNaN値の数を制限できる。

値の置換

任意の値をほかの値に置換したい場合

replace()関数によって置換が可能

In [ ]:
ser = pd.Series([0.0, 1.0, 2.0, 3.0, 4.0])

ser.replace(0,5)

文字列、正規表現の置換

r'hello world'のようなrが前についた文字列は、接頭辞のない文字列とは異なるバックスラッシュに関するセマンティクスを持っている。

生の文字列内のバックスラッシュはエスケープされたバックスラッシュとして解釈される。

欠損データのキャストルールとインデクシング

pandasは整数型とブール型の配列の格納をサポートしているが、これらの型は欠損データを格納できない。

再インデックス化操作で欠損データが発生した場合、以下のルールに従ってキャストされる

整数→浮動小数点

真偽値→オブジェクト

浮動小数点→キャストなし

オブジェクト→キャストなし

pandasは欠損値を持つことができる整数データ型も存在するが、シリーズや列を作成する際に明示的に指定する必要がある。

算術演算・比較演算での伝播

pd.NAを含む演算では欠損値が伝播する。　オペランドの１つが不明な場合、演算の結果も不明となる。

pd.NAはnp.nanと同様に算術演算で伝播する。

In [ ]:
pd.NA + 1

'a' * pd.NA

pandasはデフォルトで欠損値をスキップする。

論理演算

論理演算についてはpd.NAは3値論理のルールに従う。この論理は、論理的に必要な場合のみ欠落した値を伝播するルール

論理演算 or （｜）の場合、オペランドの片方がTrueであればほかの値に関係なく（欠損値がTrueであってもFalseであっても）結果はTrueになる。この場合、pd.NAは伝播しない。

In [ ]:
True | False
# True

True | pd.NA
# True

pd.NA | True
# True

オペランドの片方がFalseの場合、結果は他方のオペランドの値に依存する。この場合はpd.NAが伝播する

In [ ]:
False | True
# True

False | False
# False

False | pd.NA
# <NA>

論理演算「and」のほかの動作も同様のロジックを使用して導出することが可能（この場合オペランドの１つがすでにFalseである場合にはpd.NAは伝播しない

In [ ]:
False & True
# False

False & False
# False

False & pd.NA
# False

ブーリアンコンテキストでのNA

欠損値をブール値に変換することはできない。

if conditionいのいてconditionがpd.NAdになる可能性がある場合にはpd.NAは使用できない。

isna()を使用してpd.NAをチェックしたり、条件がpd.NAであることを避けるために事前に欠落している値を埋めておく必要がある。

変換

伝統的な型を使用しているデータフレームやシリーズがあり、np.nanを使用して表現されていないデータがある場合、シリーズにはconvert_dtypes()が、データフレームにはconvert_dtypes()があり、整数、文字列、ブーリアンの新しいデータ型を使用するようにデータを変換することが可能。

データセットを読み込んだ後にread_csv()やread_excelなどのリーダーにデフォルトのデータ型を推測させる場合に便利

**Group by**

・分割(Splitting)
ある基準にもとづいてデータをグループにわける

・適用(Applying)
各グループに独立して関数を適用する

・結合(Combining)
結果を一つのデータ構造にまとめる。

・集計(Aggregation)
各グループの要約統計量を計算する

・変換(Transformation)
グループ固有の計算を行い、同様のインデックスを持つオブジェクトを返す

・フィルタリング(Filtration)
TrueまたはFalseで評価されるグループ単位の計算に従っていくつかのグループを破棄する

pandasのデータ構造上のオブジェクトインスタンスメソッドは一般的に豊富で表現力があるので、例えばデータフレーム関数を書くグループに対して簡単に呼び出したいと思うとき

オブジェクトをグループに分割する

pandasのオブジェクトはどの軸でも分割することが可能。
グループ化の抽象的な定義は、ラベルとグループ名の対応付けを提供すること。

Group byオブジェクトの作成方法

In [ ]:
df = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=['falcon','[parrot','lion','monkey','leopard'],
    columns=('class','order','max_speed'),
)

df

grouped = df.groupby('class')

grouped = df.groupby('order', axis='columns')

grouped =df.groupby(['class','order'])

マッピングはさまざまな方法で指定することが可能

・各軸ラベルで呼び出されるPython関数

・選択された軸と同じ長さのリストまたはNumPy配列

・ラベルからグループ名へのマッピングを提供するSeries

・DataFrameオブジェクトの場合、グループ化に使用される列名またはインデックスレベル名を示す文字列。

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)


df
#      A      B         C         D
# 0  foo    one  0.469112 -0.861849
# 1  bar    one -0.282863 -2.104569
# 2  foo    two -1.509059 -0.494929
# 3  bar  three -1.135632  1.071804
# 4  foo    two  1.212112  0.721555
# 5  bar    two -0.173215 -0.706771
# 6  foo    one  0.119209 -1.039575
# 7  foo  three -1.044236  0.271860

DataFrameの場合、groupbyを呼び出すとGroupByオブジェクトが得られる。

マルチインデックスにA列とB列が存在する場合は、指定した列を除いてグループ化することも可能

pandasのIndexオブジェクトは重複した値をサポートしている。重複したラベルを持つインデックスがGroupby操作のグループキーとして使用された場合、同じインデックスの値に対応するすべての値は１つのグループであるとみなされるため、集約関数の出力には一意のインデックス値のみが含まれることになる。

分割は必要になるまで実行されない。

Groupbyソート

デフォルトではグループキーはgroupby操作の間にソートされる。　しかし、高速化のためにsort=Falseと記述することで制限することも可能。

In [ ]:
df2 = pd.DataFrame({'x': ['B','B','A','A'], 'Y': [1,2,3,4]})

df2.groupby(['X']).sum()

df2.groupby(['X'], sort=False).sum()

Groupbyは各グループのなかではソートされた出現する順序を保持する。

Groupbyによって作成されたグループは元のDataFrameで現れた順番になっている。

dropna=FalseとすることでNA値もグループキーに含めることが可能

Groupbyオブジェクトの属性

groups属性は計算されたユニークなグループをキーとし、各グループに属する軸ラベルが対応する値となっているもの


Pythonの標準的なlen関数をGroypbyオブジェクトに対して呼び出すと、単にgroupの長さを返すだけとなってしまう。

GroupbyでDataFrameの列を選択する

DataFrameからGroupbyオブジェクトを作成した後、各列に対して異なる処理を行いたい場合、DataFrameからカラムを取得するのと同様の[]を使用すると以下のようになる。

In [ ]:
from tables import group
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

df

grouped = df.groupby(['A'])

grouped_C = grouped["C"]

grouped_D = grouped["D"]

グループのイテレート

説グループのイテレート

GroupByオブジェクトがあれば、グループ化されたデータの反復処理は非常に自然で、itertools.groupbyと似た機能を持つ

In [ ]:
grouped = df.groupby('A')

for name, group in grouped:
  print(name)
  print(group)

グループの選択

get_group()でグループのうち一つを選択可能

In [ ]:
grouped.get_group('bar')

集計
　Groupbyオブジェクトが作成されると、グループ化されたデータに対して計算を実行するためのいくつかのメソッドが利用できるようになります。

aggregate()メソッドによる集計

In [ ]:
grouped = df.groupby("A")

grouped[["C","D"]].aggregate(np.sum)
#             C         D
# A
# bar  0.392940  1.732707
# foo -1.796421  2.824590

grouped = df.groupby(["A","B"])

grouped.aggregate(np.sum)
#                   C         D
# A   B
# bar one    0.254161  1.511763
#     three  0.215897 -0.990582
#     two   -0.077118  1.211526
# foo one   -0.983776  1.614581
#     three -0.862495  0.024580
#     two    0.049851  1.185429

集約後はグループ化された軸に沿った新しいインデックスにグループ名を持つ。　複数のキーがある場合、結果はデフォルトでマルチインデックスになるが、as_indexオブジェクトで変更することも可能。

In [ ]:
grouped = df.groupby(["A","B"], as_index=False)

grouped.aggregate(np.sum)
#      A      B         C         D
# 0  bar    one  0.254161  1.511763
# 1  bar  three  0.215897 -0.990582
# 2  bar    two -0.077118  1.211526
# 3  foo    one -0.983776  1.614581
# 4  foo  three -0.862495  0.024580
# 5  foo    two  0.049851  1.185429

df.groupby("A", as_index=False)[["C","D"]].sum()
#      A         C         D
# 0  bar  0.392940  1.732707
# 1  foo -1.796421  2.824590

reset_indexデータフレーム関数を使用すると、結果のMultiIndexに列名が格納されるため、同じ結果得ることが可能。

各グループのサイズ（行数）を計算することも可能

Groupbyのsizeメソッドとして実装されている。

インデックスがグループ名で、値が各グループのサイズであるシリーズを返す

各グループのユニークな値の数の計算も可能

In [ ]:
ll = [['foo', 1], ['foo', 2], ['foo', 2], ['bar', 1], ['bar', 1]]

df4 = pd.DataFrame(ll,columns=['A','B'])

df4

df4.groupby("A")["B"].nunique()

集計関数は、デフォルトのas_index=Trueでは集計対象のグループが名前付きカラムであればそのグループを返さない。グループ化されたカラムは返されるオブジェクトのインデックスとなる。

as_index=Falseを渡すと、名前付きカラムの場合、集約しているグループを返す。



*   mean() グループの平均
*   sun() グループの合計
*   size() グループのサイズ
*   count() グループの数
*   std() グループの標準偏差
*   var() グループの分散
*   sem() グループの標準誤差
*   describe() グループの要約統計量
*   first() グループの最初の値
*   last() グループの最後の値
*   nth() n番目、またはnがリストの場合はサブセット
*   min() グループの最小値
*   max() グループの最大値


上記の集計関数は、欠損値を除外する。Seriesをスカラー値に変換する関数はすべて集約関数として動作する。　nth()はリデューサーまたはフィルターとして動作する。

複数の関数を同時に適用する

グループ化されたSeriesに集約する関数のリストまたは辞書を渡してデータフレームを出力させる。

In [ ]:
grouped = df.groupby("A")

grouped["C"].agg([np.sum, no.mean, no.std])

グループ化されたDataFrameに対しては、各列に適用する関数のリストを渡すことが可能。階層インデックスを持つ集約結果を生成することができる。

結果として得られる集計は関数そのものの名前が付けられる。　もし、名前を変更する必要がある場合は、以下のようにSeriesの連鎖操作を追加する。

In [ ]:
(
    grouped["C"]
    .agg([np.sum, np.mean, np.std])
    .rename(columns={"sum": "foo", "mean": "bar", "std": "baz"})
)

グループ化されたDataFrameの場合も同様の方法で名前の変更が可能

出力カラムは基本的に一意であるべきであり、同じカラムに同じ関数を適用することは不可能。
pandasは複数のラムダ関数を渡すことが可能なので、その場合pandasは匿名ラムダ関数の名前を加工して、それぞれのラムダの後ろに_<i>を追加する。

名前付き集計

出力の列名を制御しながら列固有の集約をサポートするために、pandasはDataFrameGroupby.agg()とSeriesGroupby.agg()において名前付き集計として知られる特殊な構文を受け入れる。

・キーワードは出力列名

・pandasは引数が何であるかを明確にするために、フィールド['column','aggfunc']を持つ名前付きタプルpandas.NameAggを提供する。　通常通り集約は呼び出し可能関数か文字列のエイリアスとなる。

In [ ]:
animals = pd.DataFrame(
    {
        "kind":["cat","dog","cat","dog"]
        "height":[9.1,6.0, 9.5, 34.0],
        "weight": [7.9, 7.5, 9.9, 198.0],]
    }
)

animals

animals.groupby("kind").agg(
    min_height=pd.NamedAgg(column="height", aggfunc='min'),
    max_height=pd.NamedAgg(column="height", aggfunc="max"),
    average_weight=pd.NamedAgg(column="weight", aggfunc=np.mean),
)

追加のキーワード引数は集約関数に渡されない。(column, aggfunc)のペアだけが渡されることになる。　もし渡す集約関数が追加の引数を必要とする場合は、functools.partial()で部分的に適用する。

名前付き集計はシリーズgroupbyでも有効。この場合、列の選択はないので、値は関数のみとなる。

データフレームの列にさまざまな関数を適用する

aggregateに辞書を渡すことでDataFrameのカラムに異なる集計を適用することが可能

In [ ]:
grouped.agg({"C": np.sum, "D": lambda x: np.std(x, ddof=1)})

関数名には文字列も使用可能

文字列が有効であるためには、Groupbyで実装されているかディスパッチによって利用可能である必要がある。